html 
    head 
        style 
            include styleHeader.css 
            link(rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
            ling(rel="preconnect" href="https://fonts.gstatic.com")
            link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet")
            link(href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet')
        body
            if session && session.loggedin 
                 div(class = 'header1')
                    nav(class = 'navbar navbar-expand-lg navbar-light bg-light')
                        a(class = "navbar-brand" href = "/home") Title
                        button(class = "navbar-toggler" type = "buton" data-toggle = "collapse" data-target = "#navbarNav")
                            span(class = "navbar-toggler-icon")
                        div(class = "collapse navbar-collapse" id="navbarNav")
                            ul(class = "navbar-nav")
                                li(class="nav-item")
                                    a(class="nav-link" href="/home") Home
                                li(class="nav-item")
                                    a(class="nav-link" href="/about") About
                            li(class="nav-link")
                                a(href = "/logout")
                                    button(type="button" class="btn btn-primary" class = "button1") Logout
            else 
                div(class = 'header1')
                    nav(class = 'navbar navbar-expand-lg navbar-light bg-light')
                        a(class = "navbar-brand" href = "/home") Title
                        button(class = "navbar-toggler" type = "buton" data-toggle = "collapse" data-target = "#navbarNav")
                            span(class = "navbar-toggler-icon")
                        div(class = "collapse navbar-collapse" id="navbarNav")
                            ul(class = "navbar-nav")
                                li(class="nav-item")
                                    a(class="nav-link" href="/home") Home
                                li(class="nav-item")
                                    a(class="nav-link" href="/about") About
                            li(class="nav-link")
                                a(href = "/login")
                                    button(type="button" class="btn btn-primary" class = "button1") Login
