html 
    head 
        title Home Page
    body 
        include ../partials/header
        link(rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        p This project is desgined to give users a backend login system in Javascript that allows users to register, encrypts the passwords, save username and password onto MongoDB database, sends users email verification and allows users to reset password.